mixin predicate 
  | #{knowledgeGraph.predicate}

mixin object 
  | is
  | #{knowledgeGraph.object}

mixin name
  | His name is 
  | #[+value(knowledgeGraph)]. 

mixin knowledgeGraph_ref(obj, params)
  | #{obj.subject} 's

mixin knowledgeGraph_refexpr(obj, params)
  synz {mode:'sequence'}
    syn
      | Lionel Messi's
    syn
      | This person's
    syn
      | His
    syn
      | This human's

mixin printKnowedgeGraph
  | #[+value(knowledgeGraph_refexpr)]
  | #[+predicate]
  | #[+object] .

- let knowledgeGraph;
each knowledgeGraphELT in knowledgeGraphs
  - knowledgeGraph = knowledgeGraphELT;  

  p 
    -
      knowledgeGraph.ref = knowledgeGraph_ref;
      knowledgeGraph.refexpr = knowledgeGraph_refexpr;
    | #[+printKnowedgeGraph]
