mixin predicate 
  | #{knowledgeGraph.predicate}

mixin object 
  | is
  | #{knowledgeGraph.object}

mixin name
  | The subject is
  | #{knowledgeGraph.subject}

mixin knowledgeGraph_refexpr(obj, params)
  synz {mode:'sequence'}
    syn
      | This subject's 
    syn
      | The subject's 

mixin printKnowedgeGraph
  | #[+value(knowledgeGraph_refexpr)]
  | #[+predicate]
  | #[+object] .


- let knowledgeGraph = knowledgeGraphs[0];
p #[+name] .

each knowledgeGraphELT in knowledgeGraphs
  - knowledgeGraph = knowledgeGraphELT;  

  p 
    -
    | #[+printKnowedgeGraph]
