.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.button {
  background-color: rgb(9, 9, 87);
  color: white;
  font-size: 16px;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  position: inherit;
  border-radius: 1rem;
}
.button:hover {
  background-color: rgb(24, 24, 165);
  color: white;
}

.homeImage {
  margin-top: 5em;
  z-index: -1;
  width: 50vh;
}

.hero {
  color: black;
}

h1 {
  font-size: 4rem;
  margin-top: 2em;
  line-height: 5.3rem;
}

@media only screen and (min-width: 900px) {
  .homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .homeImage {
    width: 50vw;
  }
  h1 {
    font-size: 4rem;
    margin-top: 3em;
    margin-left: 0.5em;
    line-height: 5.3rem;
  }
  .button {
    margin-left: 6em;
    width: 50%;
  }
  .button:hover {
    background-color: rgb(24, 24, 165);
    color: white;
    border: 3px white;
  }
}
