.paragraphBox{
    background-color: rgb(253, 251, 255);
    width: 60%;
    height: 30vh;
    border:3px solid rgb(17, 10, 10);
    padding: 60px;
    margin-top: 8em;
    margin-left: 2em;
    font-size: 15px;
    font-family: inherit;
}
.title{
    margin-top: 2em;
}
.resultsButton {
    background-color: rgb(153, 32, 32);
    width:5%;
    height:5vh;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    font-family: inherit;
    position: relative;
 /*   top: -140px; */
    left: 0px;
}